{layout name="layout" /}
        
        <div class="sixteen columns">
        	<div class="contant-area">
            	<div class="thirteen columns offset-left">
             		<h1>相册</h1> 
             		
             	<div class="" style="margin: 20px 0 0 20px;">
					<a href="{:url('job/create')}" style="text-decoration:none; margin:5px 10px 10px 0;"> <input type="button" class="btn  btn-info" value="创建相册"></a>
        			<a href="{:url('photo/show')}" style="text-decoration:none; margin:5px 10px 10px 0;"> <input type="button" class="btn  btn-info" value="上传相片"></a>
					<a href="{:url('job/index')}" style="float:right; margin:0px 10px 0 0;"><input type="button" class="btn btn-info" value="返回"></a>
				</div>             		             		
                
                <div>
			    {foreach name="u" item="v"}
			   
			   	<div style="float:left; width:120px; height:120px; margin:20px 20px;">
			   	<div class="gallery-item">
			   	<div class="image">
			   	<div class="overlay">
					<a href="images/gallery/gallery-item5.jpg" data-rel="lightbox" class="fa fa-expand"></a>
				</div>
			   	<img style="" src="__ROOT__/newpath/{$v['url']}">	
			   	</div>
			   	</div>
			   	<div >
			   	<a href="{:url('photo/delete',['id'=>$v['id']])}" style="margin:10px;" class="btn btn-default btn-xs" >删除</a>
                {if $Think.Session.id == $w['user_id']}
                
                <a href="{:url('reply/show',['id'=>$v['id']])}" style="margin:20px 10px;" class="btn btn-default btn-xs" >查看评论</a>
              
                {else}
                <a href="{:url('comment/addComment',['id'=>$v['id']])}" style="margin:20px 10px;" class="btn btn-default btn-xs" >评论</a>
                 {/if}
                </div>		    			   
			    
			   	</div>	
			    {/foreach}		    			    
                 </div>
                 
			    
			   
			    </div>
                <div class="clear"></div>
                <div class="blank"></div>
             </div><!--contant-area-->
        </div>
    </div><!-- container -->
    
    
    
    