
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

	<title>XXX电子相册管理系统</title>
    <meta name="keywords" content="concept, responsive bootstrap, green, white, free html5 template, templatemo" />
	<meta name="description" content="Concept is free responsive template using bootstrap framework. Gallery is integrated with responsive lightbox." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>

	<!-- CSS Bootstrap & Custom -->
    <link rel="stylesheet" href="__ROOT__/static/index/css/bootstrap.min.css">
    <link rel="stylesheet" href="__ROOT__/static/index/css/animate.css">
    <link rel="stylesheet" href="__ROOT__/static/index/css/font-awesome.min.css">
	<link rel="stylesheet" href="__ROOT__/static/index/css/templatemo_misc.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="__ROOT__/static/index/css/templatemo_style.css">

	<!-- Favicons -->
    <link rel="shortcut icon" href="__ROOT__/static/index/images/ico/favicon.ico">

</head>
<body>
	

	<div class="site-header">
		<div class="main-navigation">
			<div class="responsive_menu">
				<ul>
					<li><a class="show-1 templatemo_home" href="#">首页</a></li>
					<li><a class="show-2 templatemo_page2" href="#">作品集</a></li>
					<li><a class="show-3 templatemo_page3" href="#">服务</a></li>
					<li><a class="show-4 templatemo_page4" href="#">关于我</a></li>
					<li><a class="show-5 templatemo_page5" href="#">联系我们</a></li>
				</ul>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 responsive-menu">
						<a href="#" class="menu-toggle-btn">
				            <i class="fa fa-bars"></i>
				        </a>
					</div> <!-- /.col-md-12 -->
					<div class="col-md-12 main_menu">
						<ul>
							<li><a class="show-1 templatemo_home" href="#">首页</a></li>
							<li><a class="show-2 templatemo_page2" href="#">作品集</a></li>
							<li><a class="show-3 templatemo_page3" href="#">服务</a></li>
							<li><a class="show-4 templatemo_page4" href="#">关于我</a></li>
							<li><a class="show-5 templatemo_page5" href="#">联系我们</a></li>
						</ul>
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
			</div> 
            <a class="navigation-bg" href="#" title=""  target="_blank"><img src="__ROOT__/static/index/images/header.png" alt=""  /></a><!-- /.container -->
		</div> <!-- /.main-navigation -->
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<a class="templatemo_logo" href="__ROOT__/index.php/index/user/login" >
						<h1>欢迎您使用XXX电子相册系统</h1>
					</a> <!-- /.logo -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.site-header -->
	
	<div id="menu-container">
		
		<div class="content homepage" id="menu-1">
		
			<div class="container-fluid">
				<div class="row">
				    
				
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="__ROOT__/newpath/96c39a7bd96192eb2f83ac66d6d31ffc.jpg" alt="image 1">
								<div class="overlay">
									<a href="__ROOT__/newpath/96c39a7bd96192eb2f83ac66d6d31ffc.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<a href=""><h3>用户1</h3></a>
							</div>
						</div> <!-- /.gallery-item -->
				
					
					</div> <!-- /.col-md-2 -->
				
					
				</div> <!-- /.row -->
			</div> <!-- /.slide-item -->
		
		</div> <!-- /.homepage -->
		
		<div class="content products" id="menu-2">
			<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="product-item">
								<img src="__ROOT__/static/index/images/products/product1.jpg" alt="product 1">
								<a href="#" class="product-title">Vestibulum ante ipsum primis</a>
								<p>Nam pharetra, est non convallis congue, sem sem elementum nisl, eget vulputate nisl erat.</p>
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->
						<div class="col-md-4 col-sm-6">
							<div class="product-item">
								<img src="__ROOT__/static/index/images/products/product2.jpg" alt="product 2">
								<a href="#" class="product-title">Nunc pulvinar leo nec</a>
								<p>Morbi nec mauris quis massa luctus consequat sit amet luctus metus. Etiam sollicitudin leo.</p>
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->
                        
						<div class="col-md-4 col-sm-6">
							<div class="product-item">
								<img src="__ROOT__/static/index/images/products/product3.jpg" alt="product 3">
								<a href="#" class="product-title">Curabitur mollis dignissim</a>
								<p>Cras convallis erat vitae odio. Pellentesque rutrum nisl dui, dignissim accumsan nisl.</p>
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->
						<div class="col-md-4 col-sm-6">
							<div class="product-item">
								<img src="__ROOT__/static/index/images/products/product4.jpg" alt="product 4">
								<a href="http://www.cssmoban.com/" class="product-title" >Morbi venenatis nunc</a>
								<p>Nulla vel est in sapien dictum vestibulum eu ac enim. Proin pharetra mi eget sem bibendum.</p>
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->
                        
						<div class="col-md-4 col-sm-6">
							<div class="product-item">
								<img src="__ROOT__/static/index/images/products/product5.jpg" alt="product 5">
								<a href="#" class="product-title">Phasellus id elementum</a>
								<p>Etiam sed felis id eros imperdiet tempus. Mauris sit amet metus risus. Vestibulum mi velit.</p>
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->
						<div class="col-md-4 col-sm-6">
							<div class="product-item">
								<img src="__ROOT__/static/index/images/products/product6.jpg" alt="product 6">
								<a href="http://www.cssmoban.com/page/6" class="product-title" >Donec ullamcorper</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, animi quia voluptatem.</p>
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->
					</div> <!-- /.row -->
			</div> <!-- /.slide-item -->
		</div> <!-- /.products -->

		<div class="content services" id="menu-3">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-10">
						<div class="inner-content">
							<div class="toggle-content" id="tab1">
								<h2 class="page-title">我们的服务</h2>
								<p>电子相册除了以视频形式表现，还可以是多种形式、多个格式来展现，比如用电脑边浏览边交互、用网络交互方式查看、用视频方式观看等等，相比于传统纸质相册，以及“硬件类型”的电子相册，电子相册具有传统相册无法比拟的优越性：图、文、声、像并茂的表现手法，随意修改编辑的功能，快速的检索方式，永不褪色的恒久保存特性，以及廉价复制分发的优越手段。其次要对图片进行加工处理，专业人士可以使用专业级的软件Photoshop等等软件都可以实现更加精美的相册制作。最后使用MTV电子相册制作软件将处理后的图片制作成电子相册，就可以进行观看了。</p>																
							</div> <!-- /.toggle-content -->
							<div class="toggle-content" id="tab2">
								<h2 class="page-title">Our Support</h2>
								<p>电子相册制作软件顾名思义，则是用于制作电子相册的软件。</p>
                                <p>目前国内外电子相册繁多，不同的软件，制作出的电子相册都会有不同。随着数码相机在家庭中越来越普及，人们在可以更方便的拍摄照片却又不需要把拍摄的照片都冲印的时候，更多就选择了打包保存在电脑或光盘中，电子相册制作软件就在这一过程中充当了非常重要的作用。通过电子相册制作软件，我们的照片可以更加动态、更加多姿多彩的展现，通过电子相册制作软件的打包，相片可以更方便的以一个整体分发给亲朋好友，刻录在光盘上保存，或在影碟机上播放。</p>
                                <p>电子相册是指可以在电脑上观赏的区别于CD/VCD的静止图片的特殊文档，其内容不局限于摄影照片，也可以包括各种艺术创作图片。电子相册具有传统相册无法比拟的优越性：图、文、声、像并茂的表现手法，随意修改编辑的功能，快速的检索方式，永不褪色的恒久保存特性，以及廉价复制分发的优越手段。</p>
							</div> <!-- /.toggle-content -->
							<div class="toggle-content" id="tab3">
								<h2 class="page-title">Testimonials</h2>
								<p>Duis interdum eros elit, ut semper massa imperdiet vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut pretium vehicula est tristique volutpat. Duis ac felis quis augue dapibus hendrerit. Vivamus pretium, felis sed dignissim commodo, quam turpis commodo ipsum, at varius nisi risus ut dolor. Mauris quam purus, molestie ac urna eu, sagittis sagittis dui.</p>
                                <p><a href="h#" >Integer risus mauris</a>, fermentum ac risus eu, vehicula tempus augue. Morbi egestas nulla turpis, non sollicitudin justo interdum ac. Pellentesque elementum, urna bibendum semper ullamcorper, lorem justo gravida arcu, ut pellentesque nulla orci in neque. Curabitur in commodo sem, rhoncus lobortis mi. Maecenas sit amet arcu sapien.</p>
                                <p>Phasellus molestie molestie metus quis elementum. Cras dictum rutrum arcu id interdum. Vivamus suscipit suscipit mauris eget feugiat. Sed sagittis enim id tempus vulputate. Aliquam erat volutpat. In quis neque sodales, pulvinar turpis sed, lacinia sem.</p>
							</div> <!-- /.toggle-content -->
						</div> <!-- /.inner-content -->
					</div> <!-- /.col-md-9 -->
					<div class="col-md-3 col-sm-2">
						<div id="icons">
							<ul class="tabs">
								<li>
									<a href="#tab1" class="icon-item">
										<i class="fa fa-cogs"></i>
										<span>Services</span>
									</a> <!-- /.icon-item -->
								</li>
								<li>
									<a href="#tab2" class="icon-item">
										<i class="fa fa-leaf"></i>
										<span>Our Support</span>
									</a> <!-- /.icon-item -->
								</li>
								<li>
									<a href="#tab3" class="icon-item">
										<i class="fa fa-users"></i>
										<span>Testimonials</span>
									</a> <!-- /.icon-item -->
								</li>
							</ul>
						</div> <!-- /.icons -->
					</div> <!-- /.col-md-3 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.services -->
		<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >Website Template</a></div>
		<div class="content about" id="menu-4">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-10">
						<div class="about-us-content">
							<div class="toggle-content" id="tab4">
								<h2 class="page-title">Our History</h2>
                                
								<p><img src="__ROOT__/static/index/images/products/product4.jpg" alt="product 4" class="img-responsive img_left">电子相册制作软件顾名思义，则是用于制作电子相册的软件电子相册封面电子相册封面。目前国内外电子相册繁多，不同的软件，制作出的电子相册都会有不同。随着数码相机在家庭中越来越普及，人们在可以更方便的拍摄照片却又不需要把拍摄的照片都冲印的时候，更多就选择了打包保存在电脑或光盘中，电子相册制作软件就在这一过程中充当了非常重要的作用。通过电子相册制作软件，我们的照片可以更加动态、更加多姿多彩的展现，通过电子相册制作软件的打包，相片可以更方便的以一个整体分发给亲朋好友，刻录在光盘上保存，或在影碟机上播放</p>
								<ul>
									<li>我们团队</li>
									<li>组长：谢雅龙 	成员：王梦雅、傅凌、付志鸿、李志婷、肖黎、李昕</li>
									
								</ul>
							</div> <!-- /.toggle-content -->
							<div class="toggle-content" id="tab5">
								<h2 class="page-title">Our Team</h2>
								<p><img src="__ROOT__/static/index/images/products/product2.jpg" alt="product 2" class="img-responsive img_right">随着数码相机、扫描仪的普及，家庭中的数码照片不断增加，相应地出电子相册电子相册现了很多制作电子相册的软件。但这些软件都可以称为电子相册制作系统，即把数码照片通过软件软化为动态视频或为多幅照片添加动态、声音等修饰效果的软件系统。我们网站突出专业的特点，主要是与其他电子相册制作系统相比，我们的制作系统制作出的电子相册：效果丰富多彩、欣赏性更强，可以达到其他制作系统所达不到的效果，制作出的电子相册更具专业水平和欣赏水平。</p>
                                
							</div> <!-- /.toggle-content -->
							<div class="toggle-content" id="tab6">
								<h2 class="page-title">Our Workspace</h2>
								<p><img src="__ROOT__/static/index/images/products/product6.jpg" alt="product 6" class="img-responsive img_left">电子相册除了以视频形式表现，还可以是多种形式、多个格式来展现，比如用电脑边浏览边交互、用网络交互方式查看、用视频方式观看等等，相比于传统纸质相册，以及“硬件类型”的电子相册，电子相册具有传统相册无法比拟的优越性：图、文、声、像并茂的表现手法，随意修改编辑的功能，快速的检索方式，永不褪色的恒久保存特性，以及廉价复制分发的优越手段。</p> 
                                
							</div> <!-- /.toggle-content -->
						</div> <!-- /.inner-content -->
					</div> <!-- /.col-md-9 -->
					<div class="col-md-3 col-sm-2">
						<div id="icons-about">
							<ul class="tabs">
								<li>
									<a href="#tab4" class="icon-item">
										<i class="fa fa-umbrella"></i>
										<span>Our History</span>
									</a> <!-- /.icon-item -->
								</li>
								<li>
									<a href="#tab5" class="icon-item">
										<i class="fa fa-camera"></i>
										<span>Our Team</span>
									</a> <!-- /.icon-item -->
								</li>
								<li>
									<a href="#tab6" class="icon-item">
										<i class="fa fa-coffee"></i>
										<span>Our Workspace</span>
									</a> <!-- /.icon-item -->
								</li>
							</ul>
						</div> <!-- /.icons -->
					</div> <!-- /.col-md-3 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.services -->
	<div class="content contact" id="menu-5">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="widget-content">
							<div class="page-title">联系我们</div>
							<div class="contact-form">
								<fieldset>
									<input id="name" type="text" name="name" placeholder="Name" maxlength="40">
								</fieldset>
								<fieldset>
									<input type="email" name="email" id="email" placeholder="Email" maxlength="30">
								</fieldset>
								<fieldset>
									<input type="text" name="subject" id="subject" placeholder="Subject" maxlength="60">
								</fieldset>
								<fieldset>
									<textarea name="comments" id="comments" placeholder="Message"></textarea>
								</fieldset>
								<fieldset>
									<input type="submit" name="send" value="Send Message" id="submit" class="button">
								</fieldset>
							</div> <!-- /.contact-form -->
						</div> <!-- /.inner-content -->
					</div> <!-- /.col-md-6 -->
					
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.contact -->
	</div> <!-- /#menu-container -->

	<div id="templatemo_footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<p>Copyright &copy; 2017 XXX电子相册管理系统 | Collect from 电子相册</p>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.templatemo_footer -->

	<!-- Scripts -->
	<script src="__ROOT__/static/index/js/jquery-1.10.2.min.js"></script>
    <script src="__ROOT__/static/index/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="__ROOT__/static/index/js/modernizr.js"></script>
	<script src="__ROOT__/static/index/js/bootstrap.js"></script>
	<script src="__ROOT__/static/index/js/tabs.js"></script>
	<script src="__ROOT__/static/index/js/jquery.lightbox.js"></script>
	<script src="__ROOT__/static/index/js/templatemo_custom.js"></script>
	<!-- 
    	Free Responsive Template by templatemo
    	http://www.cssmoban.com
	-->
<script type='text/javascript' src='js/logging.js'></script>
</body>
</html>