{layout name="layout" /}
        
        <div class="sixteen columns">
        	<div class="contant-area">
            	<div class="thirteen columns offset-left">
             		<h1>相册</h1> 
             		
             	<div class="" style="margin: 20px 0 0 20px;">
					<a href="{:url('job/create')}" style="text-decoration:none; margin:5px 10px 10px 0;"> <input type="button" class="btn  btn-info" value="创建相册"></a>
        			<a href="{:url('photo/show')}" style="text-decoration:none; margin:5px 10px 10px 0;"> <input type="button" class="btn  btn-info" value="上传相片"></a>
					<a href="{:url('job/index')}" style="float:right; margin:0px 10px 10px 0;"><input type="button" class="btn btn-info" value="返回"></a>
				</div>             		             		
                <div class="panel-body">
                <form action="{:url('photo/upload',['id'=>$id])}" enctype="multipart/form-data"	method="post">
                
                <div class="form-inline" style="margin:30px 0;">
                	<label>选择相册：</label>
                	<select name="job_id">
                		{volist name="job" id="v"}
                		<option value="{$v['id']}">{$v['title']}</option>
                		
                		{/volist}
                	</select>
                </div>                             
                
                <div class="form-inline" style="margin:30px 0;">
                <label>选择图片：</label>
                <input	type="file"	name="image" multiple="multiple"><br>	
                
                </div>
                
                <div>
                <input type="hidden" name="time" >
                </div>
                
                <div>
				<input	style="margin-top:30px;" type="submit" value="上传">
				</div>	
                </form>
                
			    
                </div>  
                </div>
                <div class="clear"></div>
                <div class="blank"></div>
             </div><!--contant-area-->
        </div>
    </div><!-- container -->
    
    
    
    