<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="__ROOT__/static/bootstrap/css/bootstrap.css">
    <script src="__ROOT__/static/bootstrap/js/bootstrap.js"></script>
    <title>Title</title>
    <style type="text/css">
        .box2{
            height: auto;
            background:url("__ROOT__/static/images/311.jpg");
            background-size: cover;
        }

    </style>
</head>
<body>
<div class="shell">
    <img src="__ROOT__/static/images/album.jpg" width="100px" height="50px" style="margin: 0 auto 0 150px;">
</div>
<div class ="panel panel-default" style="margin: auto 200px;">
    <nav class="navbar navbar-inverse">
        <ul class="nav nav-tabs navbar-left">
            <li><a  href="{:url('backend/index')}">
                <span class="glyphicon glyphicon-home">主界面</span></a></li>
            <li><a  href="{:url('sort/index')}">
                <span class="glyphicon glyphicon-picture">相册分类管理</span></a></li>
            <li><a  href="{:url('admin/index')}">
                <span class="glyphicon glyphicon-user">用户管理</span></a></li>
        </ul>
        <ul class="nav nav-tabs navbar-right" style="margin-right: 0px;">
            <li><a href="{:url('user/logout')}">
                <span class="glyphicon glyphicon-log-out"></span>退出系统</a></li>
        </ul>
    </nav>


<div class="box2">
    <form class="form-horizontal"  action="{:url('admin/update',['id'=>$user->id])}" method="post">
        <div class="form-group">
            <label class="col-sm-4 control-label">编号</label>
            <div class="col-sm-5">
                <input class="form-control" name="disabledInput" type="text"
                       value="{$user->id}" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">姓名</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="name"
                       value="{$user->name}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">性别</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="sex"
                       value="{$user->sex}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">邮箱</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="email"
                       value="{$user->email}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">图片地址</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="url"
                       value="{$user->url}">
            </div>
        </div>
        <div class="form-group" style="margin: 5px 270px;">
            <input type="submit" name="submit" value="保存修改" class="btn btn-success btn-sm form-control">
        </div>
    </form>
</div>
</div>
</body>
</html>