<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="__ROOT__/static/bootstrap/css/bootstrap.css">
    <script src="__ROOT__/static/bootstrap/js/bootstrap.js"></script>
    <title>相册分类管理</title>
</head>
<body>
<div class="shell">
    <img src="__ROOT__/static/images/album.jpg" width="100px" height="50px" style="margin: 0 auto 0 150px;">
</div>
<div class ="panel panel-default" style="margin: auto 200px;">
    <nav class="navbar navbar-inverse">
        <ul class="nav nav-tabs navbar-left">
            <li><a  href="{:url('backend/index')}">
                <span class="glyphicon glyphicon-home">主界面</span></a></li>
            <li><a  href="{:url('sort/index')}">
                <span class="glyphicon glyphicon-picture">相册分类管理</span></a></li>
            <li><a  href="{:url('admin/index')}">
                <span class="glyphicon glyphicon-user">用户管理</span></a></li>
        </ul>
        <ul class="nav nav-tabs navbar-right" style="margin-right: 0px;">
            <li><a href="{:url('user/logout')}">
                <span class="glyphicon glyphicon-log-out"></span>退出系统</a></li>
        </ul>
    </nav>

<div class="jumbotron">
    <div style="text-align: center">
    <h1>Hello!</h1>
    <p>这是<span style="font-weight: bold;color:#660066;">相册分类管理页面</span>！您可以通过点击以下按钮进入其他的页面，了解更多功能。HAVA FUN!</p>
    <br>
    <br>
    <p>
        <a class="btn btn-primary btn-lg" href="{:url('sort/show')}"
           role="button" style="margin: auto 70px 0px auto">详细信息</a>

        <a class="btn btn-primary btn-lg" href="{:url('sort/create')}"
           role="button" style="margin: auto 70px">添加信息</a>
    </p>
    </div>
</div>
</div>
</body>
</html>